.wrapper {
  /* padding-top: 50px; */
  
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  /* padding: 20px; */
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  
}

.navbar {
  width: 100%;
 
}

.bg-light {
  background-color: rgba(74, 72, 72, 0.639)!important;
}

.jumbotron {
  width: 100%;
}